In [2]:
# Problem: Customer Purchase Analysis for an E-commerce Business

import pandas as pd

# Create the dataset
data = {
    'customer_id': [101, 102, 101, 103, 104],
    'product_id': ['P123', 'P234', 'P345', 'P123', 'P456'],
    'purchase_date': ['2024-01-05', '2024-01-10', '2024-01-15', '2024-02-05', '2024-03-01'],
    'quantity': [2, 1, 3, 1, 2],
    'price': [50, 30, 70, 50, 90]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Save to Excel
df.to_excel('sales_data.xlsx', index=False)

In [13]:
#Calculate the total amount each customer has spent
df['total_spent'] = df['quantity'] * df['price']
df

   customer_id product_id purchase_date  quantity  price  total_spent
0          101       P123    2024-01-05         2     50          100
1          102       P234    2024-01-10         1     30           30
2          101       P345    2024-01-15         3     70          210
3          103       P123    2024-02-05         1     50           50
4          104       P456    2024-03-01         2     90          180

In [10]:
# Group by customer_id and sum the total_spent
total_revenue_per_customer = df.groupby('customer_id')['total_spent'].sum().reset_index()
total_revenue_per_customer

   customer_id  total_spent
0          101          310
1          102           30
2          103           50
3          104          180

In [12]:
# Rename the column for clarity
total_revenue_per_customer.columns = ['customer_id', 'total_revenue']
total_revenue_per_customer

   customer_id  total_revenue
0          101            310
1          102             30
2          103             50
3          104            180

In [15]:
# Identify the products that are selling the most in terms of quantity
# Group by product_id and sum the quantities
most_popular_products = df.groupby('product_id')['quantity'].sum().reset_index()

most_popular_products

  product_id  quantity
0       P123         3
1       P234         1
2       P345         3
3       P456         2

In [16]:
# Sort by quantity in descending order
most_popular_products = most_popular_products.sort_values(by='quantity', ascending=False)
most_popular_products

  product_id  quantity
0       P123         3
2       P345         3
3       P456         2
1       P234         1

In [17]:
#Customer with the Highest Purchases
customer_highest_purchases_qty = df.groupby('customer_id')['quantity'].sum().reset_index()
customer_highest_purchases_qty

   customer_id  quantity
0          101         5
1          102         1
2          103         1
3          104         2

In [18]:
# Sort by quantity in descending order
customer_highest_purchases_qty = customer_highest_purchases_qty.sort_values(by='quantity', ascending=False)
customer_highest_purchases_qty

   customer_id  quantity
0          101         5
3          104         2
1          102         1
2          103         1

In [19]:
# Display the result
customer_highest_purchases_qty.head(1)

   customer_id  quantity
0          101         5

In [20]:
customer_highest_revenue = total_revenue_per_customer.sort_values(by='total_revenue', ascending=False)
customer_highest_revenue.head (1)

   customer_id  total_revenue
0          101            310

In [21]:
# Convert the purchase_date column to datetime if it is not already
df['purchase_date'] = pd.to_datetime(df['purchase_date'])

# Group by month and sum the total_spent
monthly_sales_trend = df.groupby(df['purchase_date'].dt.to_period('M'))['total_spent'].sum().reset_index()

# Display the result
monthly_sales_trend

  purchase_date  total_spent
0       2024-01          340
1       2024-02           50
2       2024-03          180

In [23]:
# Calculate the average purchase value
average_purchase_value = df['total_spent'].mean()

# Display the result
average_purchase_value

114.0